@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



<div style="border: 3px solid black; margin: 10px; height: 100%; width: 100%; position: relative; overflow: hidden"
     @onwheel="OnWheel"
     @onpointerdown="OnPointerDown">
    
    <div style="transform: translate(30px) scale(0.5)">
         <svg style="width: 100%; height: 100%;" viewBox="0 0 @ImageSize.Width @ImageSize.Height">
                <image href="@ImageSource" height="100%" width="100%"/>
                <circle cx="100" cy="100" r="50" fill="red"/>
            </svg>
    </div>
</div>


@code {
    
    [Parameter] 
    public (int Width, int Height) ImageSize { get; set; } = (700, 394);
    
    [Parameter]
    public string ImageSource { get; set; } = "https://www.bentleymotors.com/content/dam/bentley/Master/World%20of%20Bentley/Mulliner/redesign/coachbuilt/Mulliner%20Batur%201920x1080.jpg/_jcr_content/renditions/original.image_file.700.394.file/Mulliner%20Batur%201920x1080.jpg";//700 x 394

    
    private double ScaleFactor { get; set; } = 1;


    private void OnPointerDown(PointerEventArgs e)
    {
        Console.WriteLine("PointerDOwn: " + e.OffsetX + " " + e.OffsetY);
    }
    private void OnWheel(WheelEventArgs e)
    {
        Console.WriteLine("H: " + e.DeltaY);
    }
    
    
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}