@page "/t"
@using BlazorSvgEditor.SvgEditor
@using BlazorSvgEditor.SvgEditor.Helper
@using BlazorSvgEditor.SvgEditor.Misc
@using BlazorSvgEditor.SvgEditor.Shapes
@using SvgEditor = BlazorSvgEditor.SvgEditor.SvgEditor

<div class="siteContainer">

    <div class="editor">
        <SvgEditor @ref="svgEditor" CssClass="testclass" CssStyle="border: 3px solid red;" OnShapeChanged="OnChange" @bind-SelectedShapeId="_selectedItemId" MinScale="0.8"
                   ImageSize="(700,394)" ImageSourceLoadingFunc="GetImageSource" ImageManipulations="ImageManipulations">
            <LoadingSpinner>
                
                <div class="text-center">
                    <div role="status">
                        <svg aria-hidden="true" class="inline w-16 h-16 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                
            </LoadingSpinner>
        </SvgEditor>
    </div>

    <div class="information">
        <h4 style="margin-bottom: 10px;">Events</h4>
        

        <div style="display: flex; flex-direction: row; gap: 10px">
            <button class="btn btn-warning" @onclick="() => svgEditor.ResetTransform()">Reset Transform</button>
            <button class="btn btn-primary" @onclick="() => svgEditor.AddNewShape(ShapeType.Circle)">Add Circle</button>
            <button class="btn btn-primary" @onclick="() => svgEditor.AddNewShape(ShapeType.Rectangle)">Add Rectangle</button>
            <button class="btn btn-primary" @onclick="() => svgEditor.AddNewShape(ShapeType.Polygon)">Add Polygon</button>
            <button class="btn btn-danger" @onclick="() => svgEditor.ClearShapes()">Clear</button>
        </div>


        <div style="border: 3px solid salmon; margin: 5px; padding: 5px;">
            <b>Selected Item Id: @_selectedItemId</b>
        </div>

        <div style="display: inline-flex; border: 1px solid blue; margin: 5px; padding: 5px;">
            <b>Select Shape: </b>
            <input type="number" @bind="input"/>
            <button class="btn btn-secondary" @onclick="SelectItem">Select</button>
        </div>

        <div style="display: inline-flex; border: 1px solid blue; margin: 5px; padding: 5px;">
            <b>Select Shape: </b>
            <input width="50px" type="number" @bind="brighnessinput"/>
            <input width="50px" type="number" @bind="contrastinput"/>
            <input width="50px" type="number" @bind="hueinput"/>


            <button class="btn btn-secondary" @onclick="SetImageManipulations">Set brightness</button>
        </div>

        @foreach (var shape in Changes)
        {
            <p style="margin:0px;">@shape</p>
            <hr/>
        }
    </div>
    
    
    <div>
        ICH BIN EIN FOOTER
    </div>
</div>

<style>
    .siteContainer {  display: grid;
      grid-template-columns: 1fr 500px;
      grid-template-rows: 1fr;
      grid-auto-columns: 1fr;
      gap: 10px 10px;
      grid-auto-flow: row;
      grid-template-areas:
        "editor information";
      height: 100%;
    }
    
    .editor { grid-area: editor; }
    
    .information { 
    grid-area: information;
    overflow: scroll;
     }

</style>


@code
{
    
    string imageSource = "https://www.bentleymotors.com/content/dam/bentley/Master/World%20of%20Bentley/Mulliner/redesign/coachbuilt/Mulliner%20Batur%201920x1080.jpg/_jcr_content/renditions/original.image_file.700.394.file/Mulliner%20Batur%201920x1080.jpg"; //700 x 394
    SvgEditor? svgEditor;
    
    public ImageManipulations ImageManipulations { get; set; } = new();

    private Guid _selectedItemId;
    public List<string> Changes { get; set; } = new List<string>();

    private List<Shape> _shapes = new();
    
    private string input = "";
    
    private string brighnessinput = "";
    private string contrastinput = "";
    private string hueinput = "";


    private void SelectItem()
    {
        if (Guid.TryParse(input, out var id))
        {
            if (id != default) _selectedItemId = id;
        }
    }

    private void AddNewShape(ShapeType shapeType)
    {
        svgEditor?.AddNewShape(shapeType);
    }
    
    protected async Task OnChange(ShapeChangedEventArgs args)
    {
        if (args.ChangeType == ShapeChangeType.ClearAll)
        {
            _shapes.Clear();
            await AddSeedingShapes();
            return;
        }
        
        if (args.ChangeType == ShapeChangeType.Add && args.Shape?.CustomId == default)
        {
            //Get new id
            args.Shape.CustomId = Guid.NewGuid();
        }
        
        if (_shapes.Any(x => x.CustomId == args.Shape?.CustomId))
        {
            //Remove old shape
            _shapes.Remove(_shapes.First(x => x.CustomId == args.Shape?.CustomId));
        }
        _shapes.Add(args.Shape);

        Changes.Add(args.ChangeType.ToString() + ": " + args.Shape?.ShapeType.ToString() + " " + args.Shape?.CustomId);
    }


    private void SetImageManipulations()
    {
        ImageManipulations.Brightness = int.Parse(brighnessinput);
        ImageManipulations.Contrast = int.Parse(contrastinput);
        ImageManipulations.Hue = int.Parse(hueinput);
    }

    private async Task AddSeedingShapes()
    {
        if (svgEditor == null) return;
        
        await svgEditor.AddExistingShape(new Circle(svgEditor) { Cy = 300, Cx = 300, R = 40});
        await svgEditor.AddExistingShape(new Rectangle(svgEditor) { X = 100, Y = 100, Width = 100, Height = 100 });
        await svgEditor.AddExistingShape(new Polygon(svgEditor) { Points = new List<Coord<double>>(){new (500,50), new (600,50), new(600,100)} });
        
    /*var poligonPoints = new List<Coord<double>>();
        for (int i = 0; i < 100; i++)
        {
            poligonPoints.Add(new (rnd.Next(100, 400), rnd.Next(50, 350)));
        }
        
        Shapes.Add(new Polygon(this){Points = poligonPoints, CustomId = 3});
        await OnShapeChanged.InvokeAsync(ShapeChangedEventArgs.ShapeAdded(Shapes.Last()));*/
        
    /*var poligonPoints2 = new List<Coord<double>>();
        for (int i = 0; i < 15; i++)
        {
            poligonPoints2.Add(new (rnd.Next(500, 650), rnd.Next(50, 350)));
        }

        Shapes.Add(new Polygon(this){Points = poligonPoints2,CustomId =5});
        await OnShapeChanged.InvokeAsync(ShapeChangedEventArgs.ShapeAdded(Shapes.Last()));*/
    }
    
    
    public async Task<(string source, int width, int height)> GetImageSource()
    {
        await Task.Delay(1000);
        return (imageSource, 700, 394);
    }   
    
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AddSeedingShapes();
            await svgEditor?.ReloadImage();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
