@page "/"
@using BlazorSvgEditor.SvgEditor
@using BlazorSvgEditor.SvgEditor.Editor
@using BlazorSvgEditor.SvgEditor.Helper
@using SvgEditor = BlazorSvgEditor.SvgEditor.Editor.SvgEditor

<div class="siteContainer">
    <div class="editor">
        <h4 style="margin-bottom: 10px;">SvgEditor Test</h4>
        <SvgEditor @ref="svgEditor" CssClass="testclass" CssStyle="border: 3px solid red;" OnShapeChanged="OnChange" @bind-SelectedShapeId="_selectedItemId" MinScale="0.8"
                   ImageSize="(700,394)" ImageSource="@imageSource"></SvgEditor>
    </div>
    
    <div class="information">
        <h4 style="margin-bottom: 10px;">Events</h4>
        
        <div style="display: flex; flex-direction: row; gap: 10px">
            <button class="btn btn-warning" @onclick="() => svgEditor.ResetTransform()">Reset Transform</button>
            <button class="btn btn-primary" @onclick="() => svgEditor.AddNewShape(ShapeType.Circle)">Add Circle</button>
            <button class="btn btn-primary" @onclick="() => svgEditor.AddNewShape(ShapeType.Rectangle)">Add Rectangle</button>
            <button class="btn btn-primary" @onclick="() => svgEditor.AddNewShape(ShapeType.Polygon)">Add Polygon</button>
            <button class="btn btn-danger" @onclick="() => svgEditor.ClearShapes()">Clear</button>
        </div>

        
        <div style="border: 3px solid salmon; margin: 5px; padding: 5px;">
            <b>Selected Item Id: @_selectedItemId</b>
        </div>
        
             <div style="display: inline-flex; border: 1px solid blue; margin: 5px; padding: 5px;">
                 <b>Select Shape: </b>
                 <input type="number" @bind="input"/>
                 <button class="btn btn-secondary" @onclick="SelectItem">Select</button>
              </div>
        
        @foreach (var shape in Changes)
        {
            <p style="margin:0px;">@shape</p>
            <hr/>
        }
    </div>
</div>

<style>
    .siteContainer {  display: grid;
      grid-template-columns: 1fr 500px;
      grid-template-rows: 1fr;
      grid-auto-columns: 1fr;
      gap: 10px 10px;
      grid-auto-flow: row;
      grid-template-areas:
        "editor information";
      height: 80vh;
    }
    
    .editor { grid-area: editor; }
    
    .information { 
    grid-area: information;
    overflow: scroll;
     }

</style>


@code
{
    
    string imageSource = "https://www.bentleymotors.com/content/dam/bentley/Master/World%20of%20Bentley/Mulliner/redesign/coachbuilt/Mulliner%20Batur%201920x1080.jpg/_jcr_content/renditions/original.image_file.700.394.file/Mulliner%20Batur%201920x1080.jpg"; //700 x 394
    SvgEditor? svgEditor;
    
    private int _selectedItemId = 0;
    public List<string> Changes { get; set; } = new List<string>();

    private List<Shape> _shapes = new();
    
    private string input = "";

    private void SelectItem()
    {
        if (int.TryParse(input, out var id))
        {
            if (id != 0) _selectedItemId = id;
        }
    }

    private void AddNewShape(ShapeType shapeType)
    {
        svgEditor?.AddNewShape(shapeType);
    }
    
    protected async Task OnChange(ShapeChangedEventArgs args)
    {
        if (args.ChangeType == ShapeChangeType.ClearAll)
        {
            _shapes.Clear();
            await AddSeedingShapes();
            return;
        }
        
        if (args.ChangeType == ShapeChangeType.Add && args.Shape?.CustomId <= 0)
        {
            //Get new id
            var newId = _shapes.Any() ? _shapes.Max(x => x.CustomId) + 1 : 1;
            args.Shape.CustomId = newId;
        }
        
        if (_shapes.Any(x => x.CustomId == args.Shape?.CustomId))
        {
            //Remove old shape
            _shapes.Remove(_shapes.First(x => x.CustomId == args.Shape?.CustomId));
        }
        _shapes.Add(args.Shape);

        Changes.Add(args.ChangeType.ToString() + ": " + args.Shape?.ShapeType.ToString() + " " + args.Shape?.CustomId);
    }


    private async Task AddSeedingShapes()
    {
        if (svgEditor == null) return;
        
        await svgEditor.AddExistingShape(new Circle(svgEditor) { Cy = 300, Cx = 300, R = 40, CustomId = 1 });
        await svgEditor.AddExistingShape(new Rectangle(svgEditor) { X = 100, Y = 100, Width = 100, Height = 100, CustomId = 2 });
        await svgEditor.AddExistingShape(new Polygon(svgEditor) { Points = new List<Coord<double>>(){new (500,50), new (600,50), new(600,100)}, CustomId = 3 });
        
    /*var poligonPoints = new List<Coord<double>>();
        for (int i = 0; i < 100; i++)
        {
            poligonPoints.Add(new (rnd.Next(100, 400), rnd.Next(50, 350)));
        }
        
        Shapes.Add(new Polygon(this){Points = poligonPoints, CustomId = 3});
        await OnShapeChanged.InvokeAsync(ShapeChangedEventArgs.ShapeAdded(Shapes.Last()));*/
        
    /*var poligonPoints2 = new List<Coord<double>>();
        for (int i = 0; i < 15; i++)
        {
            poligonPoints2.Add(new (rnd.Next(500, 650), rnd.Next(50, 350)));
        }

        Shapes.Add(new Polygon(this){Points = poligonPoints2,CustomId =5});
        await OnShapeChanged.InvokeAsync(ShapeChangedEventArgs.ShapeAdded(Shapes.Last()));*/
    }
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AddSeedingShapes();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
