@page "/"
@using BlazorSvgEditor.SvgEditor

<div style="display: flex; flex-direction: column">
    
<h4 style="margin-bottom: 10px;">SvgEditor Test</h4>
    

<SvgEditor MinScale="0.8"></SvgEditor>

</div>
